<div id="<%= dom_id reminder %>">
  <p>
    <strong>Event:</strong>
    <%= reminder.event_id %>
  </p>

  <p>
    <strong>Remind at:</strong>
    <%= reminder.remind_at %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= reminder.message %>
  </p>

</div>
